<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wade.foodapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ActWelcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActMain" />
        <activity android:name=".view.ActFoodDetail" />
        <!--adjustPan 這樣鍵盤不會對壓縮原視窗，只會遮蓋下面一部分內容-->
        <activity
            android:name=".ActFoodMenu"
            android:windowSoftInputMode="adjustPan" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>